<div class="view-container">
  <h2>Filter</h2>

  <app-expansion-panel title="Countries">
    <app-attribute-selector [attributes]="countries" [selectedAttributes]="[]" [allowDuplicates]="false" (attributesChanged)="countriesChanged($event)"></app-attribute-selector>
  </app-expansion-panel>

  <app-expansion-panel title="Stations">
    <app-attribute-selector [attributes]="stations" [selectedAttributes]="[]" [allowDuplicates]="false" (attributesChanged)="stationsChanged($event)"></app-attribute-selector>
  </app-expansion-panel>

  <app-expansion-panel title="Timespan">
    <app-rangeslider (rangeChanged)="applyRangeFilter($event)"></app-rangeslider>
  </app-expansion-panel>
</div>
