<div class="container view-container">
  <div class="table">
    <div class="row header">
      <div class="cell" *ngFor="let attribute of selectedAttributes" (click)="sort(attribute)">{{ attribute }}</div>
    </div>
    <div class="content">
      <div class="row" *ngFor="let obj of data" (click)="selectObj(obj)" [ngClass]="obj === selectedObjects ? 'selected':'' ">
        <div class="cell" *ngFor="let attribute of selectedAttributes">
          {{ getAttributeOfObj(obj, attribute) }}
        </div>
      </div>
    </div>
  </div>

  <app-attribute-selector [attributes]="attributes" [selectedAttributes]="selectedAttributes" (attributeRemoved)="attributeRemoved($event)"></app-attribute-selector>
</div>
