// $color-primary: #042940;
// // $color-secondary: #49A4DE;
// $color-secondary: #1f77b4;

// // $color-text-dark: #0D0D0D;
// $color-text-light: #f0f0f0;
// $color-background: #ffffff;
// $color-background-offset: #f0f0f0;
// $color-background-offset-dark: #bdbdbd;
$color-error: #A62B1F;

// $color-highlight: #1085ce49;

$color-neagtive: #A62B1F;
$color-positive: #84B026;

$font-heading: sans-serif;


$color-background-highlight: #ffe000;
$color-background-dark: #333333;
$color-background-offset: #f0f0f0;
$color-background-light: #ffffff;

$color-text-dark: #333333;
$color-text-light: #ffffff;
